/* .App {
    display: flex;
} */
/* .homepage {
    display: flex;
} */
.header {
    font-size: 200%;
    display: block;
    text-align: center;
}
.header:hover {
    color: rgb(73, 79, 82);
    font-size: 220%;
}
.headerImg {
    height: 40px;
    margin: 0 20px ;
}
.about {
    text-align: center;
}
.aboutImg {
    max-height: 200px;
}
.login {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid rgb(73, 79, 82);
}
.login button {
    margin: 10px;
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
.login button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
.topSongs {
    flex: 25%;
    text-align: center;
    border: 1px solid rgb(73, 79, 82);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}
.topArtists {
    flex: 25%;
    text-align: center;
    border: 1px solid rgb(73, 79, 82);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}
.topAlbums {
    flex: 25%;
    text-align: center;
    border: 1px solid rgb(73, 79, 82);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}
.topPlaylists {
    flex: 25%;
    text-align: center;
    border: 1px solid rgb(73, 79, 82);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}
.song span {
    margin: 10px;
}

.songTitle {
    right: 0;
}
.song:hover {
    font-size: 110%;
    color: rgb(73, 79, 82);
    font-weight: 600;
}
.artist:hover {
    font-size: 110%;
    color: rgb(73, 79, 82);
    font-weight: 600;
}
.artistImg img {
    margin: 10px;
    height: 100px;
    width: 100px;
}
.artistImg img:hover {
    height: 120px;
    width: 120px;
}
.albumImg img {
    margin: 10px;
    height: 100px;
    width: 100px;
}
.albumImg img:hover {
    height: 120px;
    width: 120px;
}
.album:hover {
    font-size: 110%;
    color: rgb(73, 79, 82);
    font-weight: 600;
}
.playlist:hover {
    font-size: 110%;
    color: rgb(73, 79, 82);
    font-weight: 600;
}
.songLength {
    left: 0;
}
.topHeader {
    text-decoration: underline;
    font-size: 150%;
    margin:10px;
}
.topHeader:hover {
    font-size: 200%;
    color: rgb(73, 79, 82);
    margin-top: 0;
}
nav {
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}
.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navImg {
    height: 50px;
}
.info {
    text-align: center;
    margin: 0 auto;
}
.info img {
    max-height: 200px;
}
.info div {
    margin:10px;
    padding: 10px;
}
.albumOnArtist img {
    height: 100px;
}
.four0four {
text-align: center;
}
#inputSubmit {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
#inputSubmit:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
#inputSubmit:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}
#mySelect {
    font-size: 16px;
    font-weight: 700;
    color: #444;
    padding: 4px 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
#mySelect:hover {
    border-color: rgb(109, 107, 107);
}
.adder {
    text-align: center;
}
.adding {
    text-align: center;
}
.adding img {
    height: 100px;
}
.addInfo {
    text-align: center;
}
.addInfo form {
    display: flex;
    justify-content: space-around;
}
.add {
    text-align: center;
}
#form input {
    margin: 10px;
    padding: 5px;
}
#form {
    border: 1px solid black;
    max-width: 390px;
    margin: auto;
    padding: 10px;
}
input[type=reset] {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
input[type=reset]:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
input[type=submit] {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
input[type=submit]:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
input[type=button] {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
input[type=button]:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
form {
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
form label{
	display: block;
	margin: 0px 0px 15px 0px;
}
form input.input-field, form .select-field{
	width: 48%;	
}
form input, 
form textarea, 
form select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
form input:focus, 
form textarea:focus,  
form select:focus {
	border: 1px solid #333333;
}
form textarea {
	height:100px;
	width: 55%;
}