/* .App {
    display: flex;
} */
/* .homepage {
    display: flex;
} */
.header {
    font-size: 200%;
    display: block;
    text-align: center;
}
.header:hover {
    color: rgb(73, 79, 82);
    font-size: 220%;
}
.about {
    text-align: center;
}
.aboutImg {
    max-height: 200px;
}
.login {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid rgb(73, 79, 82);
}
.login button {
    margin: 10px;
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}
.login button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
.topSongs {
    flex: 25%;
    text-align: center;
    border: 1px solid rgb(73, 79, 82);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}
.topArtists {
    flex: 25%;
    text-align: center;
    border: 1px solid rgb(73, 79, 82);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}
.topAlbums {
    flex: 25%;
    text-align: center;
    border: 1px solid rgb(73, 79, 82);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}
.topPlaylists {
    flex: 25%;
    text-align: center;
    border: 1px solid rgb(73, 79, 82);
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}
.song span {
    margin: 10px;
}

.songTitle {
    right: 0;
}
.song:hover {
    font-size: 110%;
    color: rgb(73, 79, 82);
    font-weight: 600;
}
.artist:hover {
    font-size: 110%;
    color: rgb(73, 79, 82);
    font-weight: 600;
}
.artistImg img {
    margin: 10px;
    height: 100px;
    width: 100px;
}
.artistImg img:hover {
    height: 120px;
    width: 120px;
}
.albumImg img {
    margin: 10px;
    height: 100px;
    width: 100px;
}
.albumImg img:hover {
    height: 120px;
    width: 120px;
}
.album:hover {
    font-size: 110%;
    color: rgb(73, 79, 82);
    font-weight: 600;
}
.playlist:hover {
    font-size: 110%;
    color: rgb(73, 79, 82);
    font-weight: 600;
}
.songLength {
    left: 0;
}
.topHeader {
    text-decoration: underline;
    font-size: 150%;
    margin:10px;
}
.topHeader:hover {
    font-size: 200%;
    color: rgb(73, 79, 82);
    margin-top: 0;
}
nav {
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}
.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navImg {
    height: 50px;
}
.info {
    text-align: center;
    margin: 0 auto;
}
.info img {
    max-height: 200px;
}
.info div {
    margin:10px;
    padding: 10px;
}

